.btn{
    text-align: center;
    // padding:1rem;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        height: 4rem;
        transition: all .2s ease-in;
        &:hover{
            background-color: rgba(0, 0, 0, .25);
            // color:$color-white;
        }
    }
}

.btn-shop{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid $color-black;
    width: 250px;
    height: 4rem;
    margin: 5rem auto 0;
    font-size: 1.2rem;
    a{
        width: inherit;
        color:#293133;
        font-family: 'Montserrat', sans-serif;
        .arrow-btn{
            // animation: arrow-pulse 700ms linear infinite;
            // background:url('../images/arrow-btn-shop.png') no-repeat;
            width: 18px;
            height: 12px;
            display: inline-block;
            margin-left: .5rem;
        }
    }
}

.btn-rr{
    border:1px solid #fffbcc;
    a{
        color:#fffbcc;
        .arrow-btn{
            // background: url('../images/arrow-btn-shop-intro.png') no-repeat;
            color:inherit;
        }
    }
}

@keyframes arrow-pulse {
    0% {
        left: 40px;
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        left: 20px;
        opacity: 1;
    }
}

// MAIN TEXT

.main-text{
    text-align: center;
    margin: 0 auto 19rem;
    padding: 0 5%;
    @media screen and (min-width: 980px){
        width: 56%;
        padding: 0;
    }
    img{
        margin-bottom: 8rem;
        margin-top: 5rem;
        width: 123px;
    }
    p{
        font-family: 'Baskervville', serif;
        font-size: 4rem;
        font-style: italic;
        color:#bbddcb;
        line-height: 6rem;
        letter-spacing: .08rem;
        span{
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-size: 3rem;
            color:#d7b6c1;
            font-style: normal;
            font-weight: 300;
        }
    }
}

// DISCOVER COLLECTION

.discover-collection{
    text-align: center;
    height: 80vh;
    // background-color: $color-green;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color:$color-white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    h2{
        text-transform: uppercase;
        font-size: 6.1rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        letter-spacing: .7rem;
        margin:0;
    }
    p{
        display: block;
        font-family: 'Baskervville', serif;
        font-size: 3rem;
        font-style: italic;
        text-transform: none;
        margin: .5rem 0 3rem;
        letter-spacing: .4rem;
        @media screen and (max-width: 780px){
            margin-bottom: 2rem;
        }
    }
    a{
        color:$color-white;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 7rem;
        width: auto;
        display: block;
        @media screen and (max-width: 780px){
            margin-bottom: 5rem;
        }
        &:hover{
            text-decoration: none;
        }
    }
}

.bloom-collection{
    background-image: url("../images/discover-collection/bloom-collection.jpg");
}

.origens-collection{
    background-image: url("../images/discover-collection/origens-collection.jpg");
}

// GRID IMAGE

.grid-image{
    padding:10rem 0;
    margin: 0 auto;
    .container-grid{
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 50px 0;
        div{
            height: auto;
            overflow: hidden;
            margin: 0 auto;
            @media screen and (min-width: 900px){
                width: 350px;
                height: 445px;
            }
            a{
                display: block;
                width: 100%;
                img{
                    object-fit: cover;
                    opacity: 1;
                    transition: all .3s ease-in-out;
                    width: 100%;
                    &:hover{
                        transform: scale(1.10);
                        opacity: .65;
                    }
                }
            }
        }
        @media screen and (min-width: 900px){
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            width: 850px;
            gap: 5rem 5rem;
            div:nth-child(2){
                margin-top: 5rem;
            }
            div:nth-child(3){
                margin-top: -5rem;
            }
        }
        @media screen and (min-width: 1200px){
            width: 908px;
        }
    }
}

.grid-image--roberta{
    background-color:$color-green;
    .container-grid{
        div{
            background-color:inherit;
        }
    }
}

.grid-image--bloom{
    background-color: #badee8;
    .container-grid{
        div{
            background-color:inherit;
        }
    }
}

.grid-image--origens{
    background-color: #e8daf6;
    .container-grid{
        div{
            background-color:inherit;
        }
    }
}

// LISTA PRODUTOS

.slider-produtos{
    padding: 10rem 0;
    background-color: #f5f5f5;
    overflow: hidden;
}

.swiper-wrapper{
    align-items: center;
    @media screen and (min-width: 1200px){
        position: relative;
        right: 7rem;
    }
   
}

.swiper-container{
    margin:0 5%;
    overflow: initial;
}

.swiper-slide{
    // background:red;
    // margin:0 8rem !important;
    a{
        color:#3c3c3c;
        text-decoration: none;
    }
    img{
        width: 100%;
    }
}

.swiper-pagination{
    position: relative;
}

.swiper-pagination-bullet-active{
    background: $color-green;
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    margin:3.5rem 0 0;
}

.swiper-txt{
    span{
        margin: 0;
        font-size: 3rem;
        color:$color-pink;
        font-family: 'Montserrat', sans-serif;
        padding-left: 3rem;
        font-weight: normal;
    }
    h2{
        font-size: 7.8rem;
        text-transform: uppercase;
        color:$color-green;
        font-family: 'Baskervville', serif;
        font-weight: normal;
        font-style: italic;
        margin: 0;
    }
    @media screen and (max-width: 899px){
        display: none;
    }
    @media screen and (min-width: 900px){
        display: block;
        position: relative;
        left:22rem;
        z-index: 2;
    }
}

.swiper-txt-mobile{
    @media screen and (max-width: 899px){
        display: block;
        margin: 1rem 0;
    }
    @media screen and (min-width: 900px){
        display: none;
    }
}

.info-produto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:.5rem 1.25rem;
    p{
        font-family: 'Montserrat', sans-serif;
    }
    .heart-swiper{
        background-image: url("../images/svg/heart-off.svg");
        background-position: center center;
        background-repeat: no-repeat;
        width: 2.6rem;
        height: 2.1rem;
        cursor: pointer;
        // transition: all .3s ease-in;
    }
    .heart-swiper.active{
        background-image: url("../images/svg/heart-on.svg");
    }
}

// SUB FOOTER

.sub-footer{
    background-color: $color-white;
    padding:1.85rem 0;
    .wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color:#5a5a5a;
        font-family: 'Montserrat', sans-serif;
        @media screen and (min-width: 900px){
            justify-content: space-around;
            flex-direction: row;
        }
    }
}