footer{
    background-color: $color-green;
    font-family: 'Montserrat', sans-serif;
    padding:9rem 0 1rem;
    width: 100%;
    .footer-content{
        margin-bottom:2rem;
        max-width: 1170px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        @media screen and (max-width: 900px){
            div{
                margin:2rem 0;
            }
        }

        @media screen and (min-width: 900px){
            margin-bottom:9rem;
            text-align: left;
            align-items: flex-start
        }
        
        @media screen and (min-width: 900px){
            justify-content: space-between;
            flex-direction: row;
        }
        .logo-footer{
            width: 18rem;
            a{
                width: 100%;
                height: auto;
                display: block;
            }
            @media screen and (min-width: 1200px){
                margin-right: 15rem;
            }
        }
        .form-footer{
            form{
                display: flex;
                align-items: flex-end;
                input{
                    background-color: transparent;
                    border:none;
                    border-bottom:1px solid $color-lyellow;
                    padding:1rem;
                    color:#d7b6c1;
                    font-size: 1.4rem;
                    &:focus{
                        outline: none;
                        border-bottom:1px solid $color-lyellow;
                    }
                }
                ::placeholder{
                    color:$color-lyellow;
                    font-weight: 300;
                }
                button[type="submit"]{
                    border:none;
                    font-size: 1.4rem;
                    color:#d7b6c1;
                    text-transform: uppercase;
                    cursor: pointer;
                    background: transparent;
                    text-decoration: underline;
                }
            }
        }
    }
    .sub-content-footer{
        width:80%;
        text-align: center;
        font-family: 'Baskervville', serif;
        font-size: 2.2rem;
        color:$color-lyellow;
        font-style: italic;
        border-top: 1px solid $color-lyellow;
        @media screen and (min-width: 900px){
            width:60%;
        }
        p{
            span{
                color:#d7b6c1;
            }
            img{
                position: relative;
                top: 6px;
                margin: 0 .5rem;
            }
        }
    }
}

.list-links{
    li{
        padding-bottom: 1.5rem;
        a{
            font-size: 1.4rem;
            color:#d7b6c1;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.sub-title{
    margin-top: 0;
    margin-bottom: 3rem;
    color:$color-lyellow;
    font-family: 'Baskervville', serif;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: normal;
}

.form-news{
    .sub-title{
        margin-bottom: 1rem;
    }
}